<div class="container">
  <h2>Explore Mutations in SNP Data</h2>
  {{!-- {{interactions-map}} --}}
  {{#if model}}
  {{log model}}
   <section class="row">
    <div class="col s4">
      <p>Filter</p>
      {{#link-to "index" (query-params regionType=null)}}Get All SNPs{{/link-to}}
      <select style="display:block" onchange={{action 'queryMutations' value="target.value"}}>
      <option>{{#link-to "index"}}null{{/link-to}}</option>
      {{#each uniqueSnps as |snp|}}
        <option value={{snp.genomicRegion}}>{{#link-to "index" (query-params regionType=snp.genomicRegion)}}{{snp.genomicRegion}}{{/link-to}}</option>
      {{/each}}
      </select>
    </div>
    <div class="col s8">
      {{#if gotFilteredSnps}}
      <p>{{numOfSnps}} SNPs sorted</p>
     {{/if}}
      <p>{{numOfMut}} mutations found.</p>
    </div>
   </section>
   <section class="row">
    <div class="col s12">
      {{#if foundMut}}
      heatmap displayed
          {{#heatmap-d3 jsonData=model.mutations}} 

          {{/heatmap-d3}}
      {{else}}
          No mutations found of region type 
          <strong>{{regionType}}</strong>
      {{/if}}
    </div>
  </section>
  <section class="row">
    <div class="col s12">
      
    </div>
  </section>
  {{/if}}
  {{outlet}}
</div>
